.paginator{
    display: flex;
    align-items: center;
    justify-content: center;


}

.rc-pagination{
    & > li{
        border: 1px solid #092125 !important;
        background-color: rgba(26, 44, 47,0.2);
        transition: background-color .1s;

        &:hover{
            background-color: rgba(26, 44, 47,0.8);
            & > a{
                color: #fff;
            }
        }
        
        // active 
        &.rc-pagination-item-active{
            background-color: rgba(0, 205, 241, 0.507);
            
            & > a {color: #000;}
        }
    }

}