@import '../../../constants.scss';

.container-list{
    display: block;
    width: 100%;
    height: 13rem;
    padding: 1rem;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover{
        opacity: 1;
    }

    .list-title{
        color: $lighGray-color;
        margin-bottom: 1rem;
    }

    .wrapper-list{
        width: 100%;
        height: 9rem;
        display: flex;
        overflow-x: auto;
    }

    .wrapper-pill{
        position: relative;
        height: 7.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        justify-content: center;
        align-items: center;

        .pill{
            width: 20rem;
            height: 80%;
            background-color: $black-color;
            border-radius: 12rem;
            display: grid;
            grid-template-columns: 30% 1fr;
            grid-template-areas: "movie-image" "movie-title";

            .wrapper-img{
                grid-area: "movie-image";
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.4rem 0;
                
                img{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    object-fit: cover;
                    transform: scale(1.3);
                    border: 3px solid $black-color;
                    transition: transform .2s;
                }
            }

            .wrapper-title{
                grid-area: "movie-title";
                text-align: center;
                margin: auto;
                font-size: 0.9rem;
                color: white;
                word-wrap: break-word;
            }

            &:hover{
                .wrapper-img{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}