@import '../../../../constants.scss';

.container-movie-list{
    position: absolute;
    width: 100%;
    height: calc(100% - 64px);

    .card{
        width: 100%;
        background-color: $dark-color;
    }

    .c-header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6rem;
        text-align: center;
        background-color: $dark-color;
        
        h1{
            color: #e6e6e6;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }

    .c-body{
        height: calc(100% - 6rem);
        padding: 2rem;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: $dark-color;

        .ant-row {
            padding: 0 4rem;
        }
    }
}
