.container-movie-list{
    position: absolute;
    width: 100%;
    height: calc(100% - 64px);
    background-image: linear-gradient(182deg, rgb(27, 70, 95), rgb(11, 144, 133));

    .card{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }


    .c-header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6rem;
        text-align: center;
        
        h1{
            color: #e6e6e6;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }

    .c-body{
        height: calc(100% - 6rem);
        padding: 2rem;
        overflow-y: auto;
        overflow-x: hidden;

        .ant-row {
            padding: 0 4rem;
        }
    }
}
