.ant-modal-wrap{
    
    padding: 2rem;

    .ant-modal{
        width: 100% !important;
        height: 100% !important;

        .ant-modal-content{
            width: inherit;
            height: inherit;
            background-color: transparent;
            box-shadow: initial;
            border: 0;

            .ant-modal-close{
                z-index: 10;
                background-color: #fff;
                top: -2rem;
                right: -1.5rem;
                color: #000;
                border-radius: 50px;
                transform: scale(.7);
                transition: background-color .2s;
                box-shadow: 0 0 5px #fff;

                &:hover{
                    background-color: rgb(173, 173, 173);
                }
            }

            .ant-modal-body{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;

                & > div{
                    position: absolute;
                    top: 0;
                    width: 100% !important;
                    height: 100% !important;
                }
            }

        }
    }
}

.ant-modal-mask{
    background-color: rgba(0, 0, 0, 0.8);
}