.wrapper-search{
    position: relative;
    width: 100%;
    padding: 1rem;
    z-index: 1;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #001529;

    h5{
        grid-column: 1/2;
        font-size: 1.2rem;
        display: flex;
        justify-self: center;
        align-self: center;
        color: #fff;
    }

    input{
        grid-column: 2/3;
        border-radius: 5px;
        text-align: center;
        border: none;
        box-shadow: 0 0 5px #001529;

    }
}

.resultSearch{
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
    padding: 0 3rem;


    & .movies{
        position: absolute;
        width: calc(100% - 6rem);
        height: 98%;
        display: block;
        overflow-y: scroll;
    }
}