@import '../../../constants.scss';

.wrapper-card-component{
    display: flex !important;
    justify-content: center;

    .wrapper-card-movie{
        margin: 1rem;

        .ant-card{
            border: none;
            
            .ant-card-body,
            .ant-card-actions{
                background-color: $gray-color;
            }   

            &:hover{
                box-shadow: 0 0 10px #000;
            }
        }
    }

    .ant-card-meta-title{
        text-align: center;
        color: white;
    }
}
