@import '../../../constants.scss';

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-color;

    p{
        padding: 0 .5rem;
        color: #c7c7c7;
    }
}