@import '../constants.scss';

*{
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.bg-app{
    background-color: $dark-color;
}

.bg-dark{
    background-color: $dark-color;
}

/* scrollbar custom  */
::-webkit-scrollbar {
    width: 0.3rem !important;
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    background-color: $gray-color !important;
}

::-webkit-scrollbar-thumb {
    background-color: $black-color;  
}

.wrapper-list{
    padding: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
