@import '../../../constants.scss';

.slider-movies{
    padding: 0;
    margin: 0;
}

.container-slide{
    position: relative;
    width: 100%;
    padding-top: 2rem;
    
    .wrapper{
        padding: 3rem 5rem;
        background-color: $dark-color;
        height: 100%;

        .backdrop-img{
            box-shadow: 0 0 4rem #000000;
            border-radius: 5px;
            width: 70%;
            margin: auto;
        }

        .details-movie{
            padding: 0rem 2rem;

            .title{
                text-transform: uppercase;
                font-size: 1.5rem;
                color: white;
                text-align: center;
            }

            .overview{
                text-align: justify;
                color: white;
                padding: 2rem 0;
                min-height: 10rem;
                border-bottom: 2px solid $gray-color;
            }

            .button-view{
                width: 100%;
                background-color: $gray-color;
                color: $dark-color;
                border: none;

                &:hover{
                    color: white;
                }
            }
        }
    }
}   