@import '../../../constants.scss';

.nav-container{
    position: relative;
    width: 100%;
    height: 100%;

    .ant-menu{
        border: none;
    }

    

    .brand{
        position: absolute;
        width: 8%;
        height: 100%;
        display: flex;
        padding: 1rem;

        svg{
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);
            position: absolute;
        }
    }

    // menu items 
    .ant-menu-item{
        border: none;

        a{
            color: $gray-color;
        }

        &-selected{
            a{
                color: white;
            }
        }

        &:hover{
            border: none;
            
            a{
                color: $black-color;
            }
        }

    }

}