.wrapper-movie{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;

    .filter-backDrop{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.8;
    }

    > .ant-row{
        height: calc(90%);
        display: flex;
        align-items: center;
    }

    .poster{
        height: 90%;

        div {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: .4rem;
            box-shadow: 0 0 10px #000;
        }
    }

    .details{
        height: 100%;
        padding: 3rem 0;
        
        .wrapper-buttons{
            position: absolute;
            width: auto;
            margin-top: 1rem;
            border-radius: 5px;
            background-color: #000;
            padding: .2rem;

            .btn-back{
                color: #8d8d8d;
                transition: color .2s,
                            background-color .2s;
                opacity: .7;
                border-radius: 5px;
                
                &:hover{
                    background-color: #4e4e4e;
                    color: #fff;
                }
            }
        }

        .wrapper-details{

            h1,
            p{
                color: #fff;
                font-size: 1.5rem;
            }

            .header{
                border-bottom: 1px solid #afafaf;
                padding: .5rem 0;

                h1{
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            .body{
                margin-top: 3rem;
                
                p{
                    text-align: justify;
                    font-size: 1rem;
                }

                ul{
                    list-style: none;
                    color: #fff;

                    &.level-one{
                        padding: 0;
                    }

                    &.level-two{
                        padding: 0 2rem;
                    }
                }
            }


        }
    }

}
